ul {
	list-style-type: none;
}
li {
	float: left;
	margin-right: 30px;
}

button {
	font-size: 18px;
	width: 150px;
	height: 45px;
	border: none;
	background: white;
	color: #513322;
}

.encabezado {
	padding: 10px 60px;
	display: flex;
	justify-content: space-between; 
} 

.logoTalegas {
	font-size: 50px;
	cursor: pointer;
}

.navegador {
	padding: 20px 0;

}

.navUsuario {
	padding: 20px 0;

}

.navUsuario i{
	margin-left: 15px;
}

.principalHome {
	position: relative;
	text-align: center;
	color: white;
}

.textoMainHome {
	position: absolute;
	top: 45%;
	left: 70%;
	transform: translate(-50%, -50%);
	text-align: left;
}

.compraYaHome {
	float: right
}

.compraYaHome:hover {
	background-color: #F0EAE3;
	transition: all 0.5s ease-in-out;
}


.navegador li:hover {
	color: #DBA269;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

.navUsuario i:hover {
	color: #DBA269;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}